{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="row justify-content-center mt-0">
  <div class='col-sm-8'>
    <div id="SubHeader"></div>
    <!-- <div class="content-section"> -->
    <div class="media">
      <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
      <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <!-- <p class="text-secondary">{{ user.email }}</p> -->
      </div>
    </div>

    <form id='msform' method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <ul id="progressbar">
        <li class="active" id="account"><strong>Username</strong></li>
        <li id="personal"><strong>Personal</strong></li>
        <li id="payment"><strong>Education</strong></li>
        <li id="confirm"><strong>Profession</strong></li>
        <li id="confirm"><strong>Devotional</strong></li>
      </ul>
      <!-- <fieldset class="form-group"> -->
      <fieldset>
        <div class="form-card">
          <legend class="border-bottom mb-4">User Details</legend>
          {{ u_form|crispy }}
        </div><input type="button" name="next" class="next action-button" value="Next Step" />
      </fieldset>

      <fieldset >
        <div class="form-card">
          <legend class="border-bottom mb-4">Personal</legend>
          {{ p_form.errors}}
          {{ p_form|crispy }}
        </div>
        <input type="button" name="next" class="next action-button" value="Next Step" />
        <input type="button" name="previous" class="previous action-button" value="Previous" /> 
      </fieldset>
      <fieldset >
        <div class="form-card">
          <legend class="border-bottom mb-4">Education</legend>
          {{ e_form.errors}}
          {{ e_form|crispy }}
        </div>
        <input type="button" name="next" class="next action-button" value="Next Step" />
        <input type="button" name="previous" class="previous action-button" value="Previous" /> 
      </fieldset>
      <fieldset >
        <div class="form-card">
          <legend class="border-bottom mb-4">Profession</legend>
          {{ prof_form|crispy }}
          {{ prof_form.errors}}
        </div>
        <input type="button" name="next" class="next action-button" value="Next Step" />
        <input type="button" name="previous" class="previous action-button" value="Previous" /> 
      </fieldset>
      <fieldset >
        <div class="form-card">
          <legend class="border-bottom mb-4">Devotional</legend>
          {{d_form.errors}}
          {{ d_form|crispy }}
        </div>
        <input type="submit" name="submit" class="submit action-button" value="Submit" />
        <input type="button" name="previous" class="previous action-button" value="Previous" /> 
      </fieldset>
    </form>
  </div>
</div>
</div>
<script type="text/javascript">
  $(document).ready(function () {

    var current_fs, next_fs, previous_fs; //fieldsets
    var opacity;

    $(".next").click(function () {

      current_fs = $(this).parent();
      next_fs = $(this).parent().next();

      //Add Class Active
      $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

      //show the next fieldset
      next_fs.show();
      //hide the current fieldset with style
      current_fs.animate({ opacity: 0 }, {
        step: function (now) {
          // for making fielset appear animation
          opacity = 1 - now;

          current_fs.css({
            'display': 'none',
            'position': 'relative'
          });
          next_fs.css({ 'opacity': opacity });
        },
        duration: 600
      });
    });

    $(".previous").click(function () {

      current_fs = $(this).parent();
      previous_fs = $(this).parent().prev();

      //Remove class active
      $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

      //show the previous fieldset
      previous_fs.show();

      //hide the current fieldset with style
      current_fs.animate({ opacity: 0 }, {
        step: function (now) {
          // for making fielset appear animation
          opacity = 1 - now;

          current_fs.css({
            'display': 'none',
            'position': 'relative'
          });
          previous_fs.css({ 'opacity': opacity });
        },
        duration: 600
      });
    });

    $('.radio-group .radio').click(function () {
      $(this).parent().find('.radio').removeClass('selected');
      $(this).addClass('selected');
    });

    $(".submit").click(function () {
      return true;
    })

  });
</script>
{% endblock content %}

<!-- 



    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
            <p class="article-content">Gender : {{ user.profile.get_gender_display }}</p>
            <p class="article-content">Date of Birth : {{ user.profile.get_dob_display }}</p>
            <p class="article-content">Blood Group : {{ user.profile.get_blood_group_display }}</p>
            <p class="article-content">Marital Status:{{ user.profile.get_marital_status_display }}</p>
            <p class="article-content">{{ user.profile.mobile }}</p>
            <p class="article-content">{{ user.profile.whatsapp }}</p>
            <p class="article-content">{{ user.profile.presentaddress }}</p>
            <p class="article-content">{{ user.profile.permanentaddress }}</p>
            <p class="article-content">{{ user.profile.get_marital_status_display }}</p>
            <p class="article-content">{{ user.profile.father_name }}</p>
            <p class="article-content">{{ user.profile.father_mobile_no }}</p>
            <p class="article-content">{{ user.profile.mother_name }}</p>
            <p class="article-content">{{ user.profile.mother_mobile_no }}</p>
            <p class="article-content">{{ user.profile.name_of_brother }}</p>
            <p class="article-content">{{ user.profile.age_of_brother }}</p>
            <p class="article-content">{{ user.profile.name_of_sister }}</p>
            <p class="article-content">{{ user.profile.age_of_sister }}</p>
            </div>
        </div>
    </div>
 -->