{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class = col>
                                <!-- <div class="content-section"> -->
                                    <form method="POST">
                                        {% csrf_token %}
                                        <fieldset class="form-group">
                                            <div class="form-card">
                                                <legend class="border-bottom mb-4">Join Today</legend>
                                                {{ form|crispy }}
                                            </div>
                                        </fieldset>
                                        <div class="form-group">
                                            <button class="btn btn-outline-info" type="submit">Sign Up</button>
                                        </div>
                                    </form>
                                    <div class="border-top pt-3">
                                        <small class="text-muted">
                                            Already Have An Account? <a class="ml-2" href="/user/signin/">Sign In</a>
                                        </small>
                                    </div>
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
